# Archivos binarios de Go
*.exe
*.out
*.test
*.bin
*.csv
# Archivos de Go por módulos
vendor/

# Archivos generados por SPIN (Promela)
pan
pan.*
pan.[bchmpt]

# Archivos del sistema operativo
.DS_Store
Thumbs.db
*.Zone.Identifier

# Archivos del entorno de desarrollo (VS Code por ejemplo)
.vscode/
*.log